# common folders to ignore (folders generated when using jupyterlab & python)

**/.ipynb_checkpoints/
**/.virtual_documents/
**/__pycache__/
**/Ref**/
**/*.sh
**/*.code**
**/.idea/
**/.xdp**
**/datasets-**
**PDFs/**
**/**.epub
**/**Prev**
**/.vscode**
**/practice**
**/learning_plan**
**/Rproj
**/Rproj.user
**/**_Practice_Problems/Datasets
**/test**
**/**.pdf
**/Large_Datasets